:root {
	--primary-color: rgba(7, 7, 7, 0.9);
	--overlay-color: rgba(7, 7, 7, 0.6);
	--adia-color: rgba(237, 20, 94, 1);
	--adia-color2: #38eee3;
	--about-font-color: rgb(224, 224, 224);
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 900;
	background-color: #000;
	min-width: 300px;
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	visibility: hidden;
	width: 100%;
	text-align: right;
	position: absolute;
}

/* Bio */
p.bio-paragrah {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 600;
	color: var(--about-font-color);
}
@media (min-width: 576px) {
	p.bio-paragrah {
		font-size: 1.2rem;
	}
}
@media (min-width: 992px) {
	p.bio-paragrah {
		font-size: 1.4rem;
	}
}
@media (min-width: 1200px) {
	p.bio-paragrah {
		font-size: 2rem;
	}
}

.accent-font {
	color: var(--adia-color);
}

.carousel {
	display: flex;
	justify-content: center;
	z-index: 0;
}
.carousel .carousel-inner .hero-button-container {
	position: absolute;
	z-index: 999;
	display: flex;
	top: 64%;
	left: 78%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.carousel .hero-button-container button {
	font-size: 2.5rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
	width: 13rem;
	padding: 0.3rem 1.3rem;
	border-radius: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.carousel .hero-button-container button:hover {
	background: rgba(237, 20, 92, 0.514);
}

.carousel .hero-button-container .contact-button-color {
	transition: all 0.3s ease-in-out;
}
.carousel .hero-button-container .contact-button-color:hover {
	background: #38eee27c;
}

.carousel .hero-button-container .about-button {
	margin-right: 1rem;
}
.carousel .hero-button-container .contact-button {
	margin-left: 1rem;
}

@media (max-width: 1200px) {
	.carousel .carousel-inner .hero-button-container {
		top: 64%;
		left: 78%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.carousel .hero-button-container button {
		font-size: 2rem;
		width: 10rem;
		padding: 0.3rem 1.3rem;
	}
}
@media (max-width: 992px) {
	.carousel .carousel-inner .hero-button-container {
		top: 64%;
		left: 78%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.carousel .hero-button-container button {
		font-size: 1.75rem;
		width: 8rem;
		padding: 0.3rem 1.3rem;
	}
}
@media (max-width: 768px) {
	.carousel .carousel-inner .hero-button-container {
		top: 64%;
		left: 78%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.carousel .hero-button-container button {
		font-size: 1.5rem;
		width: 7rem;
		padding: 0.3rem 1rem;
	}
}
@media (max-width: 592px) {
	.carousel .carousel-inner .hero-button-container {
		top: 64%;
		left: 71%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.carousel .hero-button-container button {
		font-size: 1rem;
		width: 5rem;
		padding: 0.3rem 1rem;
	}

	.carousel .hero-button-container .about-button {
		margin-right: 0.5rem;
	}
	.carousel .hero-button-container .contact-button {
		margin-left: 0;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 10px;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#video2 {
	padding: 10%;
}

#feature-video,
#video3 {
	background-color: #fff;
	padding: 10%;
}

.footer-socials {
	display: flex;
	justify-content: center;
	background-color: #000;
	padding: 3rem;
}

.social {
	color: var(--adia-color);
	margin: 15px;
}

.footer-colophon {
	display: flex;
	justify-content: center;
	background-color: #000;
	letter-spacing: 0.1rem;
	font-weight: 500;
}

p {
	color: rgb(134, 134, 134);
}
.footer-colophon > p > a {
	text-decoration: underline;
	color: rgb(134, 134, 134);
}
