:root {
	--primary-color: rgba(7, 7, 7, 0.9);
	--overlay-color: rgba(7, 7, 7, 0.6);
	--adia-color: rgba(237, 20, 94, 1);
	/* --menu-speed: 0.75s; */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 900;
	background-color: #f5eee5;
	/* height: 100vh; */
}

/* carousel */
/* .carousel-item,
.carousel-inner,
.carousel-inner img {
} */

.carousel {
	display: flex;
	justify-content: center;
	z-index: 0;
}

.carousel-item {
	text-align: center;
}

/* carousel  */

.background-image2 {
	height: auto;
}

.standing-image {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* .container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 0 3rem;
} */

/* #showcase {
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
}

@media only screen and (min-width: 2000px) {
	.background-image2 {
		display: none;
	} */

/* #showcase {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url(./images/profile2.jpg) no-repeat center center/cover;
	top: 0;
	left: 0;
	width: 100%;
} */

.menu-wrap {
	background-color: #070707; /*#202020*/
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-weight: 900;
	font-size: 1.3em;
	text-transform: uppercase;
}

/* .logo {
	display: flex;
	justify-content: flex-start;
	color: transparent;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
} */

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* div.menu-items-container {
	border: red 10px solid;
	width: 100%;
} */

/* a {
	border: red 10px solid;
	display: flex;
	flex-direction: row;
	height: 100%;
} */
/* .hamburger {
	display: none;
} */

/* .hamburger:focus {
	outline: 0;
} */

/* @media only screen and (max-width: 1000px) {
	.hamburger {
		display: block;
		border: 0;
		background-color: transparent;
		color: white;
		font-size: 40px;
		margin: 20px;
		align-self: flex-end;
	}

	.menu {
		display: none;
		background-color: #3b3b3b;
		margin: 0px;
	}


li {
	color: white;
	list-style-type: none;
	margin: 15px;
}

li a {
	text-decoration: none;
	color: white;
}

/* .showcase-inner {
	display: flex;
	justify-content: center;
	width: 100%;
} */

/* .standing-image {
	display: flex;
	justify-content: center;
	width: 100%;
} */
/* Videos*/
/* .music-video {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
} */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 10px;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#feature-video,
#video3,
#video5 {
	padding: 10%;
}

#video2,
#video4 {
	background-color: #202020;
	padding: 10%;
}

/* .video-background {
	margin: 5rem 2rem;
} */

/* footer */

footer {
	display: flex;
	justify-content: center;
	padding: 2rem 0 2rem 0;
	margin-bottom: 4rem;
}

.social {
	color: var(--adia-color);
	margin: 15px;
}

/* @media screen and (max-width: 800px) {
	img {
		object-fit: cover;
		width: 100vw;
		height: 100vh;
		z-index: 0;
	}
} */
